/.idea/
/target/
/doc/
src/main/java/com/.DS_Store
src/main/java/.DS_Store
src/main/java/com/alife/.DS_Store
src/main/java/com/alife/tolsim/.DS_Store
paramSearch/visualisation/.DS_Store
src/.DS_Store
src/main/.DS_Store
RScripts/.DS_Store
RScripts/.DS_Store
.DS_Store
.DS_Store
.DS_Store
