/.idea/
/target/
/doc/
RScripts/.DS_Store
.DS_Store
RScripts/.DS_Store
RScripts/.DS_Store
.DS_Store
.DS_Store
.DS_Store
*.gif
RScripts/visualisation/results/2024_12_29_17_15/tree3d_files/crosstalk-1.2.2/css
RScripts/visualisation/results/2024_12_29_17_15/tree3d_files/crosstalk-1.2.2/js
RScripts/visualisation/results/2024_12_29_17_15/tree3d_files/crosstalk-1.2.2/scss
RScripts/visualisation/results/2024_12_29_17_15/tree3d_files
